<div class="card">
    <img class="card-image" src="{{image}}">
    <div class="card-flex">
        <h1 class="card-title">
            <span [outerHTML]="title | colorfirstletter"></span>
        </h1>
        <div class="card-content">
            <div class="cont-stat">
                <mat-icon class="material-icons-round">watch_later</mat-icon> {{time}}
            </div>
            <div class="cont-stat">
                <mat-icon class="material-icons-round">text_fields</mat-icon> {{sections}}
            </div>
        </div>
        <button [routerLink]="['/article', code]" mat-stroked-button class="card-action">Wybierz</button>
    </div>
</div>