<div class="card">
    <img class="card-image" src="/assets/images/cards/metryka-maksimum.jpg">
    <div class="card-flex">
        <h1 class="card-title">
            <span class="card-title-highlight">m</span>etryka <span class="card-title-highlight">m</span>aksimum
        </h1>
        <div class="card-content">
            <div class="cont-stat">
                <mat-icon class="material-icons-round">watch_later</mat-icon> 30min
            </div>
            <div class="cont-stat">
                <mat-icon class="material-icons-round">text_fields</mat-icon> 4 artykuły
            </div>
        </div>
        <button routerLink="/article" mat-stroked-button class="card-action">Wybierz</button>
    </div>
</div>