<div class="article-page">
    <div class="side-short">
        <div class="short active" matRipple>
            <img src="/assets/images/cards/metryka-miasto.jpg" class="short-image">
            <h1 class="short-title">Historia</h1>
        </div>
        <div class="short" matRipple>
            <img src="/assets/images/cards/metryka-miasto.jpg" class="short-image">
            <h1 class="short-title">Historia</h1>
        </div>
        <div class="short" matRipple>
            <img src="/assets/images/cards/metryka-miasto.jpg" class="short-image">
            <h1 class="short-title">Historia</h1>
        </div>
    </div>
    <div class="article-content">
        ds
    </div>
</div>