.app-footer {
    background: var(--contrast);
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.footer-icon {
    height: 30px;
    margin: 10px;
}

.app-footer a {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

.author-name {
    font-weight: bold;
    color: var(--lighter);
    margin-left: 5px;
}

@media(max-width: 350px) {
    .app-footer {
        flex-direction: column;
    }
}